
.list-books{


}

.content-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  justify-content: center; /* Centra las columnas horizontalmente */
  align-items: center; /* Centra las filas verticalmente */
}
