
.search{

  display: flex;
  align-items: center;
  gap: 1rem;

  height: 100%;

}

input{

  width: 95%;

  border-radius: .5rem;



  font-size: 1.5rem;
  border-style:none;
}
input[type="text"]:focus {
  outline: none;
  background-color: antiquewhite;
}
i{
  font-size: 1.5rem;
  cursor: pointer;
}
